/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");

@font-face {
	font-family: 'Univers LT Std';
	src: url('fonts/UniversLTStd-Cn.eot');
	src: url('fonts/UniversLTStd-Cn.eot?#iefix') format('embedded-opentype'),
		url('fonts/UniversLTStd-Cn.woff') format('woff'),
		url('fonts/UniversLTStd-Cn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Univers LT Std';
	src: url('fonts/UniversLTStd-BoldCn.eot');
	src: url('fonts/UniversLTStd-BoldCn.eot?#iefix') format('embedded-opentype'),
		url('fonts/UniversLTStd-BoldCn.woff') format('woff'),
		url('fonts/UniversLTStd-BoldCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Aller';
	src: url('fonts/Aller-Bold.eot');
	src: url('fonts/Aller-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller-Bold.woff') format('woff'),
		url('fonts/Aller-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

html, body { background: #000;}
body {
	font-family: 'Univers LT Std' !important;
    font-size: 18px;
    line-height: 1.35em;
    color: #4a4a4a;
}

#nav-menu-item-37 {display:none;}
/* font */
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {text-transform: none !important;   letter-spacing: 0.5px;}
h2 {font-family: 'Aller'; color:#2e5597; font-size:35px; margin-bottom: 20px; font-weight: normal; line-height: 42px;}
h3, .h3{font-size: 23.5px; line-height: 30px; font-weight: bold; padding-top: 30px; padding-bottom: 50px; letter-spacing: 0.1px;}
h4 {font-size: 23.5px; line-height: 30px; font-weight: bold; padding-top: 20px; padding-bottom: 5px; letter-spacing: 0.1px;}
h1 sup, h2 sup  {font-size: 40%; vertical-align: top;}
.subtitle {    padding-top: 20px;    text-align: center;}
sup {font-size: 60%; vertical-align: top; line-height: 15px;}
.bold {font-weight:bold;}
.f12 {font-size:12px;  line-height: 14px;}
.f14, .f14 p {font-size:14px;  line-height: 18px;}
.f16 {font-size:16px;  line-height: 22px;}
.f24 {font-size:23.5px;  line-height: 30px;}
.f72, p.f72 {font-size:72px;}
.nowrap {white-space: nowrap;}
.text-center { text-align: center;}
nav.mobile_menu ul li a, nav.mobile_menu ul li h3 {
    
	font-size: 18px;}
.content ul {
  list-style: none;
  padding: 0 0 10px; 
  margin: 0;
}

.content li {
  padding-left: 1em; 
  text-indent: -.85em;  margin-bottom: 5px;
}

.content li::before {
  content: "• ";
 padding-right: .5em;
  color: #ff4c00;
 font-size: 80%;
}
.content .isi-block li{ margin-bottom: 5px;}

.content .isi-block li::before, .content ul.grey_dot li::before {
  color: #4a4a4a;
}
/* colors */
.separator {
    background-color: #ccc;   margin: 0;
}
.border {
    border: 1px solid #ccc;
}
.border-top {
    border-top: 1px solid #ccc;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}

p a, a  {color: #ff4c00;}
a.orange  {color: #ff4c00 !important;}
p a:hover , a:hover  {color: #ff4c00; text-decoration: underline;}
nav.mobile_menu ul li a:hover, nav.mobile_menu ul li.active > a, nav.mobile_menu ul li li.current-menu-item a  {color: #ff4c00;}
::-moz-selection { background: #2e5597; }
::selection { background: #2e5597; }
.blue {color:#2e5597;}
.orange {color: #ff4c00;}
.white, a.white:hover {color:#fff;}
.grey, .grey p {color:#999999;}
.grey-bg {background: rgb(246,246,246);}
.light-grey-bg-solid {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,ffffff+100 */

background: #f6f6f6;
	
}
.light-grey-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,ffffff+100 */

background: #f6f6f6; /* Old browsers */

background: -moz-linear-gradient(top,  #f6f6f6 0%, #ffffff 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  #f6f6f6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


/*	background: rgb(250,250,251);*/
}

.light-grey-bg-inner > .section_inner.clearfix {
	 overflow: hidden;

background: #f6f6f6;  
}

/* padding and margin */
.boxed .section .section_inner, .grid_section .section_inner { 
    width: 1140px;
}
.content .section {padding-top: 70px; padding-bottom: 70px;}
.content .section .section {padding-top: 0; padding-bottom: 0;}

.padding-tb-50 {padding-top: 50px; padding-bottom: 50px;}

.padding-b-0, .padding-bottom-0  {padding-bottom: 0 !important;}
.padding-b-10, .padding-bottom-20  {padding-bottom: 10px !important;}
.padding-b-20, .padding-bottom-20  {padding-bottom: 20px !important;}
.padding-b-30  {padding-bottom: 30px !important;  }
.padding-b-40-30-20  {padding-bottom: 40px !important;  }
.padding-t-40-30-20  {padding-top: 40px !important;  }
.padding-t-0, .padding-top-0  {padding-top: 0 !important;}
.padding-t-20, .padding-top-20  {padding-top: 20px !important;}
.padding-t-30  {padding-top: 30px  }
.padding-lf-60 {padding-left: 60px; padding-right: 60px;}
.padding-lf-70 {padding-left: 70px; padding-right: 70px;}
.margin-b-0 {margin-bottom: 0 !important;}
.margin-b-30   {margin-bottom:30px;}
.margin-b-40-30-20  {margin-bottom: 40px !important;  }
.margin-t-40-30-20  {margin-top: 40px !important;  }
.margin-top-minus-lg  .section_inner.clearfix {margin-top: -40px !important;  }

div.grey.f12 { 
    padding-top: 10px;
}

/* nav */ 

.header-left-widget.widget_nav_menu ul.menu li a {
    color: #fff; 
    padding: 0 15px 0 0;
    text-transform: uppercase;
     opacity: 0.6;
}
.header-right-widget.widget_nav_menu ul.menu li a {
    color: #fff; 
    padding: 0 0 0 15px  ;
    text-transform: uppercase;
     opacity: 0.6;
}
.header-right-widget.widget_nav_menu {
  
    padding: 0   0 0;
}

.header-widget.widget_nav_menu ul.menu li a:hover {
    color: #fff;
    opacity: 1;
} 

header.centered_logo.centered_logo_animate .q_logo img, header:not(.centered_logo) .q_logo img {
    margin: 2px 0;
    min-height: 70px;
}

nav.main_menu > ul > li > a {
    color: #ff4c00;
    font-size: 18px;
    line-height: 75px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: none;
    border-bottom: 4px solid #fff; 
    margin-left: 65px;
    padding: 4px 0 0;
}

nav.main_menu > ul > li:hover  > a, nav.main_menu > ul > li.active > a {
    color: #ff4c00;
    border-bottom: 4px solid #ff4c00; 
    opacity: 1 !important;
}
nav.main_menu > ul:hover > li.active  > a {
 
    border-bottom: 4px solid #fff;  
}
nav.main_menu > ul > li.active:hover  > a {
 
    border-bottom: 4px solid #ff4c00;  
}

nav.main_menu ul li.menu-item-has-children > a, .drop_down li.menu-item.current_page_item.menu-item-has-children a {
    background: url(img/down_arrow.png) no-repeat right center;
    padding-right: 20px; 
} 

.drop_down li.menu-item.current_page_item.menu-item-has-children li a {
    background: none;
} 

.drop_down .second .inner ul li a, .drop_down .second .inner ul li h5 {
    color: #fff; 
    font-size: 15px; 
    letter-spacing: 0.4px;
    opacity: 0.8;
	text-transform: none;
}
.drop_down .second .inner ul li a:hover, .drop_down .second .inner ul li h5:hover {
     
    opacity: 1;
}
li.narrow .second .inner ul { 
   float: right;
    padding: 5px 0 0;
    width: 500px;
}
.drop_down .second .inner > ul, li.narrow .second .inner ul {
    background-color: transparent;
    border-color: transparent; 
}
.drop_down .second {
    transition: top 0s ease-in-out 0s; 
     width: 300px;
     padding: 0 100px;
  
}

li.narrow:last-child .second .inner ul { 
        width: 320px;
        left: -100px;
        float:left;
}
li.narrow:last-child  .second { 
    width: 220px;
  
}
.drop_down .narrow .second .inner ul li {
    float: left;
    width: auto;
}
 
.drop_down .menu-item.current_page_item {
    opacity: 1;
}
.drop_down li.menu-item.current_page_item a {
    opacity: 1 !important;
    background: url(img/dropdown_active_li.png) no-repeat 7px 10px;
}
/* footer */
.footer_bottom ul li {
    display: inline-block;
    margin-right: 17px;
}

.footer_bottom ul li a { 
    font-size: 16px; 
    letter-spacing: 0;
    text-transform: none;
    padding-bottom: 10px;
     line-height: 28px;
	font-weight: bold;
}
.footer_bottom {
    font-size: 14px;
    line-height: 18px;
}

/* internal pages */
.content, .content .container, .full_width {
    background-color: #fff;
}

.title.has_background, .title.has_fixed_background {
    background-position: center center;
    background-size: cover !important;
    height: 320px !important;
    top: 100px;
    margin-bottom:105px;
}

.title h1, .title.title_size_small h1 {
    color: #fff;
    font-size: 40px;  padding-top: 10px;
    line-height: 1.30435em;
    text-align: center;
    text-transform: none;
    font-family: 'Aller'; 
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.title .separator.small, .title .separator.small.left, .title .separator.small.right {
    display: none;
}


/* elements */

/*
.menu-top_left-container {
    display: none;
}
*/
.pointer {cursor:pointer;}
.visible-md {display:none;}	
.visible-sm {display:none;}
.hidden {display:none;}
.checkbox-label {font-size: 16px;}
.right_arrow i, .right-arrow i { font-size: 123%;  vertical-align: text-bottom;}
.border-right-sm-up {border-right: 1px solid #ccc;}
.qbutton {
    border-radius: 0;
    border-width: 2px;
    font-size: 18px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 20px;
    padding: 2px 20px;
	text-transform: none;
	text-align: center;
}
.qbutton.orange-bg {
	color:#fff;
	background: #ff4c00;
	border: 2px solid #ff4c00;
	font-weight: 600; min-width: 155px;
	text-align: center;  padding: 3px 20px;
}
.qbutton.orange-bg:hover {
	color:#ff4c00;
	background: #ffffff; 
}
.no-min-height {min-height: 0 !important;}
.orange-border-box {border: 4px solid #ff4c00; padding:20px;  min-height: 263px;}
/*.orange-border-box p {font-size:23px; line-height: 32px;}*/
.orange-border-box a {font-size:18px; line-height: 24px;}
.sign_up_block a.qbutton {
    color: #fff; border-color: #fff; margin-bottom: 15px;  }
.sign_up_block a.qbutton:hover {
    color: #ff4c00; background: #fff; }

.three-col-callout  {
     padding: 0 30px;  min-height:392px;}

.three-col-callout a.qbutton {
    color: #fff; border-color: #ff4c00; background: #ff4c00; margin: 30px 0 20px; text-transform: none;}
.three-col-callout a.qbutton:hover {
    color: #ff4c00; background: #fff; }
 
#advanced_floating_content_640 { 
	z-index: 999998 !important;}
 
#advanced_floating_content_1122, #advanced_floating_content_934{ 
	display:none;  height: 0;}
 

.exit-msg {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 20vh auto;
    max-width: 600px;
    padding: 3%;
}

#advanced_floating_content_1122 .exit-msg { 
    margin: 10vh auto 0;
    max-width: 1140px; 
	height: 72vh;
	max-height: 900px;
    overflow-y: scroll;}
.exit-msg a.qbutton {
    color: #fff; border-color: #ff4c00; background: #ff4c00; margin: 20px 5px; text-transform: none;width:100px; }
.exit-msg a.qbutton:hover {
    color: #ff4c00; background: #fff; }

/*#advanced_floating_content_934 { background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;}*/
 
.exit-popup-bg {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

div.section.sign_up_block {padding:0 !important;    background: url(img/lg-g_bg.png) repeat-x center  center !important;     }
div.section.bg-none, .bg-none {    background:none !important;     }
.sign_up_block .vc_column-inner {background: url(img/sign_up_bg.png) center center;  background-size: 100%!important;  color: #fff; font-size: 24px; line-height: 36px; padding-top: 16px; min-height: 80px;}
/*.sign_up_block .vc_column-inner {background: url(img/lg-g_bg.png); background-size: 100%!important; color: #fff; font-size: 24px; line-height: 36px; padding-top: 16px; min-height: 80px !important;}*/

/*.content .section.blue_block {   margin-top: -260px; margin-bottom: -180px;  height: 220px !important; }
.blue_block .vc_column-inner {background: url(img/blue_block_bg.png) repeat-y center center; color: #fff; font-size: 24px; line-height: 36px; padding-top: 16px; min-height: 360px !important;}*/
.content .section.blue_block, .content .section.white_light-grey_bg   {background: url(img/lg-g_bg.png)   center center;   color: #fff; padding:0 !important;}
.blue_block .vc_column-inner {background:#2e5597; color: #fff; font-size: 24px; padding:70px 0; }
.blue_block h2 {  color: #fff; }
.blue_block p { font-size: 18px; line-height: 24px; color: #fff; }
.blue_block p.f72 { font-size: 72px; line-height: 90px; color: #fff; }

.info_block p { font-size: 18px; line-height: 24px;  }
.info_block p.f72 { font-size: 72px; line-height: 90px;   }

.age-or-block {background: url(img/age-or-bg.png) no-repeat top left;
padding-left:30px; margin-left:-50px;}
 .vc_column-inner .vc_column-inner { min-height: 0 !important; padding-top:0 !important;  padding-bottom:0 !important;} 

.isi-block, .content_bottom { font-size: 16px; line-height: 22px; background: rgb(246,247,248);}
.isi-block p,.isi-block ul, .content_bottom  p,.content_bottom  ul, .isi-content p, .isi-content ul { padding-bottom: 20px;}
.isi-block p a {font-weight: bold;}
.box_warning{ padding:15px 20px; border: 2px solid #4a4a4a; margin: 0px 0 25px 0;}



.two_column_block .vc_column-inner .vc_column-inner {padding: 0 !important;}

.visible-xs {display:none;}

/*homepage hero*/
.play-home-video {cursor:pointer;}
.hero_txt_top {padding-top:120px;  padding-top:14vh;
 
}
.hero_txt_bottom {padding-bottom:0; 
	padding-top:66vh;
 
}
.hero_txt_top h2, .hero_txt_top h3 {
    margin: 0 auto;
	padding-bottom: 10px;
    max-width: 1200px;
    white-space: pre-line; text-shadow: 0 0 30px #fff ;
}
.hero_txt_bottom p {
    margin: 0 auto;
    max-width: 1140px;
    white-space: pre-line; font-size:18px; line-height: 24px;  text-shadow: 0 0 30px #fff;
}
.ls-layers, .ls-slide-backgrounds, .ls-slide-effects, .ls-background-videos, .ls-bg-video-overlay {
   
	overflow: inherit !important; }
/*.hero_img_cover, */
 
.ls-background-videos { background: transparent; display: none;}

.ls-slide-backgrounds {
	 
    background-image: url(img/slide-bg-1600x200.jpg); 
	  background-position:  center center; 
	  background-size: 200px 100vh;
 	background-repeat: repeat-x;   
} 
 .content.has_slider.ls-overflow-visible {
	  
	  margin-top: -116px;
  
 
}
#layerslider_2 .ls-circle-timer { display:none !important;}

/*homepage video*/
#advanced_floating_content_838 { 
    height: 100vh; display: none;
}
.wp-video-shortcode video, video.wp-video-shortcode {
    
    max-width: none;
}
.wp-video {
    height: auto;
    margin: 7vh auto;
	width: 100% !important;
/*    max-width: 1200px !important;*/
}
.play-home-video {cursor:pointer;}
#advanced_floating_content_838 .floating_content_close_button {
	display:none;
}
#close_video_modal {
    background: transparent;
	cursor:pointer;
    height: 30px !important;
    position: absolute;
    right: 20px !important;
    top: 20px !important;
    width: 30px !important;
 
    background-image: url(img/video_modal_close.png); 
 
	display: block;
	z-index: 9999;
}
 

footer  { 
    border-top: 2px solid #fff;
}
.column1.footer_bottom_column .menu {display: none;}
 
@media only screen and (min-width: 769px)   { 
	.ls-inner .ls-layers {background:#000;}
	
.ls-slide-backgrounds {
	 
    background-image: url(img/slide-bg-1600x200.jpg); 
	  background-position:  center center; 
	  background-size: 200px 100vh;
 	background-repeat: repeat-x;  
 	background-color: #000; 
 opacity: 0;
	  -webkit-animation: ls-slide-backgrounds-keyframes 1.3s linear  2.2s 1 normal forwards;
  animation: ls-slide-backgrounds-keyframes 1.3s linear 2.2s 1 normal forwards;
} 

  .ls-background-videos { background: transparent; display: block;}
	
	  #advanced_floating_content_640.advanced_floating_content  {
		  bottom: -0; 
	}
  .home #advanced_floating_content_640.advanced_floating_content  {
		  bottom: -140px; 
	  -webkit-animation: advanced_floating_content-keyframes 1.8s linear  0.7s 1 normal forwards;
  animation: advanced_floating_content-keyframes 1.8s linear 0.7s 1 normal forwards;
}


.home header {
    margin-bottom: 128px;
    margin-top: -128px;
  -webkit-animation: header_inner-keyframes 1.5s linear 1s 1 normal forwards;
  animation: header_inner-keyframes 1.5s linear 1s 1 normal forwards;
}


	
	#ls-html5-1 {
  -webkit-animation: ls-html5-1-keyframes 1s linear 7s 1 normal forwards;
  animation: ls-html5-1-keyframes 1s linear 7s 1 normal forwards;
}
	
 
}
	@keyframes ls-html5-1-keyframes {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
 
  100% {
    opacity: 0;
	  display: none;
    animation-timing-function: ease-in-out;
  }
}
	@keyframes ls-slide-backgrounds-keyframes {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
 
  100% {
    opacity: 1;
    animation-timing-function: ease-in-out;
  }
}
@keyframes advanced_floating_content-keyframes {
  0% {
    bottom: -140px;
    animation-timing-function: ease-in;
  }
 
  100% {
bottom: 0;
    animation-timing-function: ease-in-out;
  }
}
@keyframes header_inner-keyframes {
  0% {
     margin-bottom: 128px;
    margin-top: -128px;
    animation-timing-function: ease-in;
  }
 
  100% {
  margin-bottom: 0;
    margin-top: -0;
    animation-timing-function: ease-in-out;
  }
}
@keyframes advanced_floating_content_640r-keyframes {
  0% {
     margin-bottom: -117px; 
    animation-timing-function: ease-in;
  }
 
  100% {
  margin-bottom: 0 ;  
    animation-timing-function: ease-in-out;
  }
}

 
.ls-layers, .ls-slide-backgrounds, .ls-slide-effects, .ls-background-videos, .ls-bg-video-overlay {
/*
    height: 84vh;
	margin-top:2vh;
*/
/*	max-width: 1366px; margin: 0 auto;*/

}
 
/*isi flyout*/
.advanced_floating_content { 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);}

#advanced_floating_content_838 .floating_content_full_details {
    max-height: 10000px;  
     
}
.floating_content_full_details {
    max-height: 110px;  
     
}
.tray-toggles {
    float: right; font-weight: bold; color: #ff4c00;cursor: pointer;
}
.tray-toggles:hover {
    text-decoration: underline;
}
.close-tray {display:none;}
.floating_content_full_details.tray_open {
    height: 96vh;
    max-height: none; 
	padding: 2vh 0;
}
 
.floating_content_full_details.tray_open .isi-content::-webkit-scrollbar {
    width: 6px;
}
 
.floating_content_full_details.tray_open .isi-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
 
.floating_content_full_details.tray_open .isi-content::-webkit-scrollbar-thumb {
  background-color: #ff4c00;
  outline: 1px solid #ff4c00;
}

.floating_content_full_details.tray_open .isi-content{
    height: 96vh;
    max-height: none;
    overflow-y: scroll;
	padding: 0 60px;
}

.tray_open .close-tray {display:block;}
.tray_open .open-tray, .tray_open .isi-preview {display:none;}
.floating_content_full_details.tray_open {max-height: none;}
 .floating_content_full_details.tray_open .isi-full { padding: 40px 0;}
.isi-content { margin: 0 auto; padding:15px 50px;
    max-width: 1140px; font-size: 16px;
    line-height: 22px; color: #4a4a4a;}
.isi-content p {padding-bottom:10px;}
 
.open-tray > span {
	font-family: arial;
    font-size: 26px;
    font-weight: normal;
    vertical-align: text-bottom;
}
 
.close-tray > span {
	font-family: arial;
    font-size: 25px;
    font-weight: normal;
    vertical-align: text-bottom;
}


.homepage  .header_inner.clearfix {height: 116px;}
.homepage .header_top_bottom_holder {
    margin-top: 0;
    position: relative;
}
/* sign up */
select.form-control {
    background-color: #fff;
    background-image: none; 
    border-radius: 0;  
    display: block;
 
    height: 57px; 
    color: #333;
    
    font-family: "univers lt std";
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 14px 10px 13px 12px;
    width: 99.5%;
	border: 1px solid #ccc; 
}
select.form-control option {
   color: black;
	padding: 14px 10px 13px 12px;
}
 
select.form-control:not(:checked) {
   color: #90A5CA;
}
.form-select::after { 
    font-size: 18px; 
	
    top: 25px;
} 
.form-select::after { 
 
	 font-family: 'FontAwesome';
	content: "\f107";
	
	color: #90A5CA;
    font-size: 26px;
    padding: 0 0 10px;
    pointer-events: none;
    position: absolute;
    right: 7%; 
	top:22%;
}

select.form-control.selected, .selected.form-select::after{
	color: #333 !important;
}

.form-control.long-input {
    display: block;
    font-family: "univers lt std";
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 15px 15px 12px;
    width: 90%;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:35px;
    height:60px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
   
	background:url(img/checkbox-bevyxx.png) -69px top no-repeat;
    cursor:pointer;
    /* 
    background:url(http://webdesigntutsplus.s3.amazonaws.com/tuts/391_checkboxes/check_radio_sheet.png) left top no-repeat;
    */
}
input[type="checkbox"]:checked + label span {
     background:url(img/checkbox-bevyxx.png) left top no-repeat;
    /* 
    background:url(http://webdesigntutsplus.s3.amazonaws.com/tuts/391_checkboxes/check_radio_sheet.png) -19px top no-repeat;
    */
}
input[type="checkbox"] + label .checkbox-label {
    display:inline-block;
    width:80%;
    height:60px;
    margin:10px 0px;
    vertical-align:middle;
    background: none;
}
input[type="checkbox"]:checked + label .checkbox-label {
    background:none;
}
select {
	appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-appearance: none;
}
 


.invalid-field {
 border: 3px ;
  border-radius: 0px;
  -webkit-box-shadow: solid 0px 1px 1px #ff4c00;
          box-shadow: solid 0px 1px 1px #ff4c00;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
border-color: #ff4c00;
outline: 5px auto #ff4c00;
    outline-offset: -2px;
    color: #ff4c00;
}
.form-control .invalid-field{
    color: #ff4c00;
}
.invalid-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ff4c00;
}
.invalid-field::-moz-placeholder { /* Firefox 19+ */
  color: #ff4c00;
}
.invalid-field:-ms-input-placeholder { /* IE 10+ */
  color: #ff4c00;
}
.invalid-field:-moz-placeholder { /* Firefox 18- */
  color: #ff4c00;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2e5597;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #2e5597;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #2e5597;
}
:-moz-placeholder { /* Firefox 18- */
  color: #2e5597;
}

@media only screen and (min-width: 1300px) { 
.isi-content { 
	max-width: 1200px;}
}
@media only screen and (min-width: 1280px) { 
   
 
 
	.blue_block .section_inner, .sign_up_block .section_inner {width:1280px !important;}
}


@media only screen and (min-width: 1001px) { 
   
.header_bottom.dropdown_open { 
    border-bottom: 40px solid #ff4c00;
/*    margin-bottom: -40px; */
	  transition: all .3s ease-out 0s !important;
    -webkit-transition: all .3s ease-out 0s !important;
       
 
    }
    .header_bottom {
          border-bottom:  0px solid #ff4c00;
    transition: all .4s ease-out .2s !important;
    -webkit-transition: all .4s ease-out .2s !important;
       
}
	
	
  .two_column_block .vc_column-inner   {padding-left: 30px !important; padding-right: 30px  !important;}

}
@media only screen and (max-width: 1299px) { 
	li.narrow  .second .inner ul { 
      
        left: 120px;
        float:left;
}
	
	.footer_bottom ul li { 
    margin-right: 14px;
}

	.hidden-lg {display:none;}
nav.main_menu > ul > li > a { 
    margin-left: 30px; 
}
	.form-control.long-input {     width: 89%;	}
}
@media only screen and (max-width: 1200px) { 
.orange-border-box {   min-height: 337px;}
}
@media only screen and (max-width: 1100px) { 
nav.main_menu > ul > li > a { 
  
    font-size: 17px; 
    letter-spacing: 0px;
}
    nav.main_menu ul li.menu-item-has-children > a {
    padding-right: 16px; 
} 
    .drop_down .second { 
    width: 270px;
    }
    li.narrow:last-child .second .inner ul {
    
    left: -140px;
    }
}
 
@media only screen and (max-width: 1000px) { 
	.hidden-md {display:none;}
	.visible-md {display:block;}	
    .title.has_background, .title.has_fixed_background {
    
    top: 0;
} 
    .title.has_background, .title.has_fixed_background {
     
    height: auto !important;  
    }
    .title h1, .title.title_size_small h1 {
  
    font-size: 30px; 
}
	.title.has_background, .title.has_fixed_background {
   
    margin-bottom: 0;
	}
	.padding-b-20-sm {padding-bottom: 20px !important;}
	.padding-b-10-sm {padding-bottom: 10px !important;}
	.padding-b-0-sm {padding-bottom: 0 !important;}
	.margin-b-0-sm {margin-bottom: 0 !important;}
	.hidden-md {display:none;}
	#layerslider_2 {margin-top:-100px !important;}
	.padding-lf-30-sm {padding-left:30px; padding-right:30px;}
}
@media only screen and (min-width: 769px)   { 
.two-by-two-row-1-block  {min-height: 295px;}
	.two-by-two-row-2-block  {min-height:160px;}

}
@media only screen and (max-width: 768px)   { 
	
	
		
.visible-md {display:none;}	
	
.visible-sm {display:block;}	
.hidden-sm {display:none;}
	.content .section {
    padding-bottom: 40px;
    padding-top: 40px;
}
	body { 
    font-size: 16px;
    line-height: 1.35em;
	}
/*
	h2 { 
    font-size: 32px; 
    line-height: 40px;
	}
*/
	h2 { 
    font-size: 23.5px; 
    line-height: 30px;
	}
	.sign_up_block .vc_column-inner {
    margin: 0 auto;
    min-height: 40px;
    padding: 15px 0 11px;
    width: 96%;
	}
	.three-col-callout  {
     padding: 0 ;
	}
	
	.three-col-callout a.qbutton { 
    letter-spacing: 0.1px;
		font-size:16px;
    margin: 20px 0;
    text-align: center;
    text-transform: none;
    width: 140px;
}
	.isi-block, .content_bottom, .f14, .f14 p {
    font-size: 12px;
    line-height: 14px;
}
	.isi-content {
    color: #4a4a4a;
    font-size: 12px;
    line-height: 16px; 
    padding: 15px 48px;
}
	.box_warning {
    padding: 10px 10px;
	}
	.floating_content_full_details {
    max-height: 90px;
}
	.open-tray > span, .close-tray > span { 
    font-size: 19px !important; line-height: 15px;
	}
	
	.sign_up_block a.qbutton { 
    text-align: center;
 
    margin-bottom: 7px;
    margin-top: 7px;
		  margin-right: 0;
 
    width: 220px;
}
	header {
    border-bottom: 1px solid #ddd;
	}
	.footer_bottom_holder .footer_bottom ul.menu li a {
    font-size: 16px;
	}
	
	.orange-border-box {   min-height: 0 ; margin-bottom: 25px !important; padding:15px;}
}

@media only screen and (max-width: 768px) and (min-width: 768px) { 
	.visible-sm {display: block;}
.boxed div.section .section_inner, .carousel-inner .slider_content_outer, .container_inner, .container_inner nav.content_menu, .footer_bottom_border.in_grid, .footer_top_border.in_grid, .full_width .parallax_content, .steps_holder_inner, .title_border_in_grid_holder, div.grid_section .section_inner, nav.content_menu ul {
    width: 668px;
}
	nav.mobile_menu > ul {
    width: 668px;
}
	.age-or-block {background: url(img/age-or-bg.png) no-repeat top 5px; margin-left: -30px;}
	
	.two-by-two-row-1-block  {min-height: 305px;}
	.two-by-two-row-2-block  {min-height: 174px;}
	.form-control.long-input {     width: 87.8%;	}
	.boxed div.section .section_inner, .carousel-inner .slider_content_outer, .container_inner, .container_inner nav.content_menu, .footer_bottom_border.in_grid, .footer_top_border.in_grid, .full_width .parallax_content, .steps_holder_inner, .title_border_in_grid_holder, div.grid_section .section_inner, nav.content_menu ul {
    width: 708px;
}
	.isi-content { 
    padding: 15px 30px;
} 
	.padding-b-0-sm {padding-bottom:0;}
}
@media only screen and (max-width: 767px) and (min-width: 351px) {   
	
}
@media only screen and (max-width: 767px) {  
	.visible-sm {display:none;}
	.left-xs {text-align: left !important;}
	.center-xs, .center-xs p {text-align: center;}
	.content .section {
    padding-bottom: 30px;
    padding-top: 30px;
}
    .title h1, .title.title_size_small h1 {
    font-size: 23.5px;
    line-height: 25px;
    text-shadow: 0 0 6px #000;
} 
	
	.subtitle {
    padding-top: 5px; text-shadow: 0 0 6px #000;
	}
	.three-col-callout {
    min-height: 1px;
	}
	.border-right-sm-up {
    border-right: 0;
}
	.three-col-callout .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}
	.text-center-xs {text-align:center !important;}
	.age-or-block {background: none;margin-left: -0; padding-left:0;}
	.age-or-xs {background: url(img/age-or-bg-xs.png) no-repeat top center;  }	
 .hidden-xs {display:none !important;}
	.visible-xs {display:block;}
	.padding-lf-0-xs {padding-left: 0px; padding-right: 0px;}
	.form-control.long-input {     width: 91%;	}
	.isi-content {    padding: 15px 10px;}
	
	h2 {
    font-size: 23.5px; letter-spacing: 0;
    line-height: 30px;  margin-bottom: 10px;
}
		h2 br { display:none;
}
	h3, .h3 {
    font-size: 20px;  letter-spacing: 0;
    line-height: 26px;
    padding-bottom: 20px;
    padding-top: 20px;
}
	h4 {
    font-size: 20px; 
    letter-spacing: 0;
    line-height: 24px;  padding-bottom:0;
	}
	.f16-xs {font-size:16px !important; line-height: 22px !important;  text-transform: none !important;    font-weight: normal !important;}
	.two_column_block h2, .two_column_block p {
    text-align:center;
} 
	.info_block p.f72,  p.f72,  .f72 { 
    line-height: 72px !important;
}
	
	.two_column_block .padding-lf-70 {
    padding-left: 30px;
    padding-right: 30px;
}
	 .padding-lf-15-xs {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
	.padding-t-10-xs {
    padding-top: 10px;
}
	 .two_column_block h2 {
/*    margin-top:15px;*/
} 
	.h-30-xs {height:30px !important;}
	.sign_up_block .vc_column-inner { 
		
		
    font-size: 16px;
    line-height: 20px;
}
	.three-col-callout a.qbutton {
    background: #ff4c00 none repeat scroll 0 0;
    border-color: #ff4c00;
    color: #fff;
    margin: 15px 0 20px;
    text-align: center;
    text-transform: none;
    width: 100%;
}
	.qbutton {
    border-radius: 0;
    border-width: 2px;
    font-size: 16px;
    font-weight: normal !important;
     height: 32px;
    line-height: 34px;
		padding: 3px 0 2px;
	}
	
		.three-col-callout p { 
		padding: 0 20px;
	} 
.sign_up_block .vc_column-inner {
    margin: 0 auto;
    min-height: 40px;
/*    padding: 7px 0;*/
    width: 95%;
}
	.homepage-hero-cta.sign_up_block .vc_column-inner {
 
    width: 88%; 
    padding: 10px 0 8px !important;
	}
	.sign_up_block a.qbutton { 
    font-weight: normal;
    height: 30px;
    line-height: 31px;
    margin: 10px 0 8px;
    text-align: center;
    width: 238px;
} 
	.footer_bottom {
    font-size: 12px;
    line-height: 16px;
    text-align: left !important;
}
	.footer_bottom   img {
    display: block;
    margin: 0 auto;
}
	.column1.footer_bottom_column .menu {display: block;padding: 30px 0 20px; border-bottom:1px solid #ddd;}
	.column2.footer_bottom_column .menu {display: none;}
	.two-by-two-row-1-block  {min-height: 1px;}
	.two-by-two-row-2-block  {min-height: 1px;}
	.exit-msg { 
    box-shadow: none;
     margin: 0;
    padding: 3%;
    width: 94%;
		height:100vh;
}
	
}
@media only screen and (max-width: 480px) {  
	
.sign_up_block .vc_column-inner { 
    width: 90%;
}
}
@media only screen and (max-width: 360px) {  
		.title img { 
   height: 140px;
    left: -20%; 
    max-width: none;
    min-height: 140px;
    text-align: center;
    width: auto;
}
	.form-control.long-input {     width: 87.8%;	}
}